* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow: hidden;
 /* width: 70;
  height: 70vh;*/
  /*background: #4776e6;
  background: -webkit-linear-gradient(to right, #8e54e9, #4776e6);
  background: linear-gradient(to right, #8e54e9, #4776e6);*/
  display: flex;
}

.header2_independent {
  width: 100%;
  height: 60px;
  position:absolute;
  top:9%;
z-index:999;
   display: flex;
  justify-content: center;
}

.menu2_independent{
    height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0px 100px;
}

.menu2_independent li {
 display: block;
  height: 100%;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
 /* text-shadow: 0 0 15px #8e54e9;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);*/
 
  text-align: center;
  padding: 0 10px;
  margin-right: 60px;
}

/* Style 1 */
/* Before Hover: Width of before element is set to 100% and height to 0 and Width of before element is*/
/* set to 0% and height to 100%  */
/* On Hover:  Top and bottom borders' of after element and left and right borders of before element*/
/* is animated here by increasing the height of before element from 0 to 80% and width of after */
/* element from 0 to 120% */


/* Style 3 */
/* Before hover: After element's top and left borders are set, same as before elements's */
/* right and bottom borders, width and height of both elements are set to 0% */
/* On Hover: the before and after elements's height and width increased from 0 to 100%  */
.menu2_independent li:after,
.menu2_independent li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
}

.menu2_independent li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.menu2_independent li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.menu2_independent li:hover::before,
.menu2_independent li:hover::after {
  width: 100%;
  height: 100%;
  border-color: #fff;
}

.menu2_independent li.active {
  background-color: #f5f5f5;
  color: #444;
  //border-bottom: 2px solid #000;
}

/*Style 4  */
/* Before Hover: All border except the bottom border is transparent */
/* On Hover: All border except bottom border is changed to white */



@media (max-width: 768px) {
  .dropdown_container {
    display: block;
  }
}
/* This will hide the element on screens larger than 768 pixels */
@media (min-width: 769px) {
  .dropdown_container {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .dropdown_container {
     position: fixed;
    top: 3%;
    left: 83%;
    z-index:10000000000000;
  }
}

@media screen and (max-width: 600px) {
  #navbar {
    display: none;
  }
  .hide_bar_in_mobile{
	 display: none;
  }
}
